@media (min-height: 600px){
    body{
        background-color:rgb(243, 224, 219);
    }
}

body{
    width: 100%;
    margin:auto;
}

.main-header{
    background-image: linear-gradient( #ecc29a,  #f8ecaa);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

@media (max-width:680px) {
    .container-header {
    flex-direction: columns;
    }
} 
.logo-header{
    width:120px;
    margin-left: 5%;
    padding-bottom: 5px;
}

nav{
    margin-right: 5%;
    margin-top: 30px;
} 
nav > a{
    text-decoration: none;
    margin: 10px;
    color: black;
    font-size: 20px;
    font-family: 'Aclonica', sans-serif;
}
nav a:active{
    background-color:rgba(161, 131, 231, 0.966);
}
nav a:hover{
    color:rgba(66, 247, 66, 0.966);
}

.img-shop{
    width: 100%;
}

@media (max-width:680px) {
    .welcome {
    flex-direction: columns;
    }
} 
.cardHover:hover{
    transform: scale(1.05);
}
.welcome{
    position: relative;
}
.img-welcome{
    width: 100%;
    height: 550px;
}
.text-welcome{
    position: absolute;
    font-size: 12px;
    left: 35%;
    top: 20px;
    margin: 10px;
    text-align: center;
}
.text-welcome > h1, .text-welcome > h3{
    color: red;
}
.text-welcome > p{
    font-style: italic;
}

.behandeling{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 50px;
}
.behandeling > div{
    border: 2px solid wheat;
    width: 30%;
    height: 300px;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
    background-image: url(../Images/bg9.jpg);
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}
.behandeling > div > img {
    width: 20%;
    height: 20%;
    border-bottom-right-radius:50%; 
}
.behandeling > div > h1 {
    margin-top: 1px;
    text-align: center;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 80px;
    margin-bottom: 100px;
}
.pricing > div > p{
    color: rgb(114, 95, 95);
}
.pricing > div > h3{
    color: rgb(245, 32, 103);
    font-weight: bold;
}
.pricing > div > h3 > span {
    color: rgb(114, 95, 95);
    font-weight: 100;
    padding-left: 10px;
}

.gallery{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 20px;
}
.gallery > div {
    width: 22%;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.gallery > div > img:hover{
    -webkit-filter: grayscale(100%);
}


.contact{
    display: flex;
    justify-content:space-around;
    margin-bottom: 40px;
}
.contact-map{
    width: 650px;
    margin: 20px 0 20px 0;
}
.map{
    width: 400px;
    height: 250px;
}
.contact-text{
    text-align: center;
    margin-top: 20px;
}
.contact-text > p{
    font-style: italic;
}
.contact-text > h2{
    color: rgb(231, 88, 136);
    font-weight: bold;
}

@media (max-width:680px) {
    .footer {
    flex-direction: columns;
    }
}
footer{
    display: flex;
    justify-content: space-between;
   background-color: rgb(14, 34, 46);
   color: white
}
.footer-text{
    margin-right: 100px
}
footer > div > p{
    padding-left: 70px;
}
footer > img {
    margin: 60px 10px 0 5%;
    width: 450px;
    height: 200px;
}